<!DOCTYPE html>
<html lang="en-gb">
<head>
  <title>Has the British Government collapsed yet?</title>
  <meta http-equiv="cache-control" content="no-cache, no-store" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="Martin Costello" />
  <meta name="description" content="Find out if the British Government has collapsed yet or whether it's wandering through Westminster like a lethargic zombie." />
  <meta name="language" content="en" />
  <meta name="referrer" content="no-referrer-when-downgrade" />
  <meta name="robots" content="INDEX" />
  <meta name=theme-color content="#ffffff" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:description" content="Find out if the British Government has collapsed yet or whether it's wandering through Westminster like a lethargic zombie." />
  <meta property="og:image" content="https://hasthebritishgovernmentcollapsedyet.co.uk/10.png" />
  <meta property="og:image:type" content="image/png" />
  <meta name="twitter:image" content="https://hasthebritishgovernmentcollapsedyet.co.uk/10.png" />
  <meta name="twitter:image:alt" content="The front door of Number 10 Downing Street." />
  <meta property="og:locale" content="en_GB" />
  <meta property="og:site_name" content="hasthebritishgovernmentcollapsedyet.co.uk" />
  <meta property="og:title" content="Has the British Government collapsed yet?" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://hasthebritishgovernmentcollapsedyet.co.uk/" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@martin_costello" />
  <meta name="twitter:description" content="Find out if the British Government has collapsed yet or whether it's wandering through Westminster like a lethargic zombie." />
  <meta name="twitter:domain" content="hasthebritishgovernmentcollapsedyet.co.uk" />
  <meta name="twitter:site" content="@martin_costello" />
  <meta name="twitter:title" content="Has the British Government collapsed yet?" />
  <meta name="twitter:url" content="https://hasthebritishgovernmentcollapsedyet.co.uk/" />
  <link rel="canonical" href="https://hasthebritishgovernmentcollapsedyet.co.uk/" />
  <link rel="shortcut icon" type="image/x-icon" href="https://hasthebritishgovernmentcollapsedyet.co.uk/favicon.ico" />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Has the 🇬🇧 Government collapsed yet?</a>
    </div>
  </nav>
  <main class="container body-content">
    {{ content }}
  </main>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <style>
    .body-content {
      padding-top: 10px;
    }
  </style>
</body>
</html>
